#colMaster{
    display: flex;
    flex-direction: column;
}

#rowHeader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: solid red; */
    font-size: 25px;
    margin-top: 40px;
}

#rowBody{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: solid blue; */
    margin-top: 90px;
}

.rowFooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    /* border: solid green; */
}

#colTrabalho{
    display: flex;
    flex-direction: column;
    margin: 0px 30px 0px 30px;
}

#rowTrabalho{
    display: flex;
    flex-direction: row;
    /* border: solid red; */
}

#colTrabalhoLeft{
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* border: solid blue; */
    margin: 15px 15px 0px 0px;
}

#rowPlus{
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
    justify-content: center;
}

#buttonPlus{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: #333853;
    padding: 0px;
}

.arrowUp{
    width: 100%;
    height: 100%;
    color: #666d8c;
}

#rowMenus{
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    justify-content: center;
}

#buttonMenus{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: #333853;
    padding: 0px;
}

.arrowDown{
    width: 100%;
    height: 100%;
    color: #666d8c;
}

#colTrabalhoRight{
    display: flex;
    flex-direction: column;
    /* border: solid green; */
    text-align: center;
    font-weight: bold;
}

#square{
    border-radius: 9%;
    background-color: #3c4363;
    box-shadow: 0px 3px 6px black;
    width: 150px; /* Verificar forma de fazer isso sem deixar um valor preso*/
    display: flex;
    justify-content: center;
    height: 110px;
}

.counter{
    /* font-size: xxx-large; */
    font-size: 70px;
    margin: 0px;
    padding: 10px 10px 5px 10px;
    
}

.text{
    margin: 15px 0px 0px 0px;
    font-size: 20px;
}

.btnStart{
    width: 250px;
    height: 80px;
    border-radius: 10%;
    background-color: #3c4363;
    box-shadow: 0px 3px 6px black;
    border: none;
    color: #a3a6b5;
    font-size: 30px;
    font-weight: bold;
}

.textBtnStart{
    text-decoration: none;
    color: #a3a6b5;
    font-size: 30px;
    font-weight: bold;
}